body {
}
/*CSS novo login a parti daqui*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}


.container-login {
    /*background-image: url("../img/image 1.png");*/
    /*min-width: 99vw;*/
    /*min-height: 100vh;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*contain: content;*/
}

.header-login {
    margin-top: 40px;
    margin-bottom: 40px;
}

.center {
    display: grid;
    align-content: center;
    height: 63vh;
}

.content-login {
    background-color: white;
    width: 520px;
    height: auto;
    border-radius: 20px;
    /* margin-bottom: 100px; */
    padding: 40px;
}

.login {
    height: fit-content;
}

    .login h1 {
        font-size: 24px;
        line-height: 30px;
        /* margin-bottom: 0px; */
        font-weight: 600;
    }

.inputs label {
    font-size: 14px;
    line-height: 18px;
    color: #363636;
}

.inputs input {
    border-radius: 4px;
    border-color: #E5E5E5;
}

    .inputs input::placeholder {
        color: #858585;
        font-size: 14px;
        line-height: 18px;
    }

.inputs .form-control {
    border: 1px solid #e5e5e5;
}

    .inputs .form-control:focus {
        box-shadow: none;
        border: 1px solid #34942B;
    }

.content-login .eye,
.inputs .eye-rede {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #595857;
    font-size: 15px;
    cursor: pointer;
}

.validation {
    padding: 0px !important;
}

.position {
    position: relative;
}

.btn.btn-login {
    background-color: #2337d7;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 10px 8px 10px;
    border-radius: 0px;
    border-radius: 4px;
}

    .btn.btn-login:hover {
        background-color: #226ea0;
        color: #fff;
    }

.content-login .forget {
    font-size: 14px;
    line-height: 18px;
}


.form-check-input:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #595857;
    border-color: #595857;
}

.nova-senha1 {
    display: none;
}