@model FloripaSurfClubWeb.Models.Account.RegistrarUsuarioInputModel

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12 m-auto">
            <div class="container-fluid p-3 card-sobreado">
                <div class="row">
                    <h3 class="text-center">Registro de usuário</h3>
                </div>
                <form asp-controller="Account" asp-action="Registrar" class="m-0 p-0">
                    <div class="row mt-3">
                        <div class="col-12">
                            <div>
                                <label class="text-bold">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    Nome do Usuário
                                </label>
                            </div>
                            <div>
                                <input type="text" asp-for="Nome" class="form-control input-login" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div>
                                <label>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    Email
                                </label>
                            </div>
                            <div>
                                <input type="email" asp-for="Email" class="form-control input-login" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div>
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <label class="text-bold">Telefone</label>
                            </div>
                            <div>
                                <input type="text" asp-for="Telefone" class="form-control input-login" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div>
                                <label>
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                    Senha
                                </label>
                            </div>
                            <div>
                                <input type="password" asp-for="Senha" class="form-control input-login" />
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div>
                                <label>
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                    Confirme a Senha
                                </label>
                            </div>
                            <div>
                                <input type="password" asp-for="ConfirmaSenha" class="form-control input-login" />
                                <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div>
                                <label>
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    Tipo de Usuário
                                </label>
                            </div>
                            <div>
                                <select asp-for="TipoUsuario" class="form-control input-login" asp-items="ViewBag.TipoUsuarioList" onchange="toggleAlunoFields(this)">
                                </select>
                                <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                            </div>
                        </div>

                        <div id="alunoFields" style="display:none;">
                            <div class="col-12 mt-3">
                                <label>Peso</label>
                                <input type="text" asp-for="Peso" class="form-control input-login" />
                                <span asp-validation-for="Peso" class="text-danger"></span>
                            </div>
                            <div class="col-12 mt-3">
                                <label>Altura</label>
                                <input type="text" asp-for="Altura" class="form-control input-login" />
                                <span asp-validation-for="Altura" class="text-danger"></span>
                            </div>
                            <div class="col-12 mt-3">
                                <label>Nacionalidade</label>
                                <input type="text" asp-for="Nacionalidade" class="form-control input-login" />
                                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
                            </div>
                            <div class="col-12 mt-3">
                                <label>Nível</label>
                                <select asp-for="Nivel" class="form-control input-login">
                                    <option value="0">Iniciante</option>
                                    <option value="1">Intermediário</option>
                                    <option value="2">Avançado</option>
                                </select>
                                <span asp-validation-for="Nivel" class="text-danger"></span>
                            </div>
                        </div>

                        <div asp-validation-summary="All" class="text-danger col-12 mt-3"></div>

                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-secondary w-100">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Registrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

